.textareafieldauto.x-field-textarea textarea {
  min-height: 2.5em;
  padding-top: 11px;
}

.x-list .x-list-item .x-list-item-body, .x-list .x-list-item.x-list-item-tpl .x-innerhtml{
	padding: 0px;
}

.x-list .x-list-item {
	padding: 0px;
	height: 2em;
}

.x-toolbar{
	min-height: 2em;
}

.x-list-normal .x-list-item.x-list-item-tpl{
	height: 2em;
	padding: 5px;
}

.x-list .x-list-item.x-list-item-tpl .x-innerhtml {
  padding: 10px;
}